/* Fondo del menú principal */
.menu-bar {
    -fx-background-color: #1e1e1e; /* gris oscuro VSCode */
    -fx-border-color: #3c3c3c;
    -fx-border-width: 0 0 1 0;
}

/* Texto de los menús principales */
.menu-bar .label {
    -fx-text-fill: #f2f4f5; /* texto gris claro */
    -fx-font-size: 14px;
    -fx-font-weight: 500;
    -fx-padding: 4 10 4 10;
}

/* Cambia el color al pasar el ratón */
.menu:hover .label {
    -fx-text-fill: #f2f4f5;
}

/* Fondo del menú desplegable (context-menu) */
.context-menu {
    -fx-background-color: #252526;
    -fx-border-color: #3c3c3c;
}

/* Texto de los ítems del menú desplegable */
.context-menu .label {
    -fx-text-fill: #cccccc;
}

/* Color al pasar el ratón por los ítems */
.menu-item:hover {
    -fx-background-color: #094771;
}
.menu-item:hover .label {
    -fx-text-fill: white;
}

/* ============================
   Título
   ============================ */
.title-label {
    -fx-text-fill: #333333;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}


/* ============================
   Botones principales
   ============================ */
.menu-button {
    -fx-background-radius: 10;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-border-radius: 10;
    -fx-border-color: #cfd8dc;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 1);
}

/* Hover */
.menu-button:hover {
    -fx-background-color: #b2ebf2;
}

/* ============================
   Labels inferiores (usuario)
   ============================ */
.footer-label {
    -fx-text-fill: #555555;
    -fx-font-weight: bold;
}
.vocab-word {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-padding: 20 0 20 0;
}

.answer-button {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-background-color: white;
    -fx-border-radius: 10;
    -fx-border-color: #cfd8dc;
    -fx-pref-width: 300;
    -fx-pref-height: 40;
}

.answer-button:hover {
    -fx-background-color: #b2ebf2;
}
